.parent
{
    position: relative;
    bottom: 0;
    left: 0;

}
.image1
{
    position: relative;
    bottom: 0;
    left: 0;
    border: 1px solid;
    width: 70%;
}
.image2
{
    position: absolute;
    top: -70px;
    right: 420px;
    border-radius: 100px;
    border-style: solid;
    width: 15%;


}
*{
    background-color:#EE6461 ;
}